{% extends "layout.html" %}
{% block content %}
  <div class="item">
    <h2>Add New Item</h2>
    </br>
    <form action="{{url_for('newItem')}}" method="post">
      <p>Name:</p>
      <input type="text" name="name">
      </br>
      <p>Description:</p>
      <textarea rows="4" cols="50" name="description"></textarea>
      </br>
      <p>Category:</p>
      <select name="category">
        {% for c in categories %}
        <option value="{{c.name}}">{{c.name}}</option>
        {% endfor %}
      </select>
    </br></br>
      <input type="submit" value="Create">
      <a href="{{url_for('catalogHome')}}">Cancel</a>
    </form>
  </div>
{% endblock %}
