{% extends "layout.html" %}
{% block content %}
  <div class="col m-3">
    <h2>{{ item.name }}</h2>
    <p>{{ item.description }}</p>
    {% if session.user_id == item.user_id %}
    <a class="btn btn-outline-dark my-2 my-sm-0" href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}">
      <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span> Edit
    </a>
    <a class="btn btn-outline-dark my-2 my-sm-0" href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}">
        <span class="oi oi-delete" title="pencil" aria-hidden="true"></span> Delete
    </a>
    {% endif %}
  </div>
{% endblock %}
